{% extends 'base.html.twig' %}
{% block title %}Willkommen{% endblock %}
{% block body %}
    <div class="row pt-2">
        <div class="col-sm-8 offset-sm-2">
            <h1 class="text-center">Willkommen</h1>
        </div>
    </div>
{% endblock %}