{% extends 'base.html.twig' %}

{% block title %}Ajouter un vinyle{% endblock %}

{% block body %}
    <h1 class='text-center'>Ajouter un vinyle</h1>
    {{ include ('discs/_form.html.twig') }}
{% endblock %}
