{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
    <h1 class='pt-2 text-center'>Votre profil</h1>
    
    <div class='d-flex justify-content-center'>
        <div class='col-6'>
            <div class='d-flex justify-content-center'>
                <img src='https://pbs.twimg.com/profile_images/905088453649555456/GwsoNoQR_400x400.jpg' width='150' heigth='150'>
            </div>
            <div>
                <p class='form-label'>E-mail :</p>
                <input class='form-control mb-2' readonly disabled value={{ user.email }}>
            </div>
            <div>
                <a class='btn btn-primary' href={{ path ('app_profil_edit')}}>Modifier</a>
            </div>
        </div> 
    </div>
{% endblock %}