{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class='container-xxl'>
    <!--BreadCrumb-->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
            <li class="breadcrumb-item"><a href="{{ path ('home') }}">Acceuil</a></li>
            <li class='breadcrumb-item active'>Administrateur</li>
        </ol>
    </nav>
    <h1 class='mt-2'>Admin</h1>
    <a class='btn btn-primary rounded-pill' href='{{ path ("app_user_index") }}'>Les utilisateurs</a>
</div>
{% endblock %}
