{% extends 'base.html.twig' %}

{% block title %}Modifier un artiste{% endblock %}

{% block body %}
    <h1 class="text-center pt-2">Modifier un artiste</h1>

    {{ include('disc/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
