{% extends 'base.html.twig' %}

{% block title %}Nouvel artiste{% endblock %}

{% block body %}
    <h1 class='text-center pt-2'>Nouvel artiste</h1>

    {{ include('artist/_form.html.twig') }}

{% endblock %}
