{% extends 'base.html.twig' %}

{% block title %}Nouvel artiste{% endblock %}

{% block body %}
<canvas class="d-none d-md-block s-bg-purple w-100" height="20"></canvas>
    <div class='container-xxl'>
        <!--BreadCrumb-->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="{{ path ('home') }}">Acceuil</a></li>
                <li class="breadcrumb-item"><a href="{{ path ('app_artist_index') }}">Artistes</a></li>
                <li class="breadcrumb-item active">Nouveau</li>
            </ol>
        </nav>

        {{ include('artist/_form.html.twig', {'button_label': 'Ajouter'}) }}
    </div>
{% endblock %}
