{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un comentaire à {{ disc.title }}</h1>

    {{ include('comments/_form.html.twig') }}

    <a class='btn btn-secondary rounded-pill' href="{{ path('app_disc_show', {id: disc.id}) }}">Retour</a>
{% endblock %}
